/*
Name: Smashing HTML5
Date: July 2009
Description: Sample layout for HTML5 and CSS3 goodness.
Version: 1.0
Author: Enrique Ramírez
Autor URI: http://enrique-ramirez.com
 */

/* Imports */
@import url("reset.css");
@import url(fonts/yanone-kaffeesatz.css);
@import url(fonts/crimsontext-fonts.css);
/***** Global *****/
/* Body */
body {
  background: #FDE4E3;
  background: #F2C9C9;
  color: #402C2C;
  font-size: 16px;
  font-family: 'Crimson Text', 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 0px 0px 1px #BFBFBF;

  display: grid;
  grid-template:
    ". header ." min-content
    ". content ." auto
    "footer footer footer" min-content
    / auto min(80%, 760px) auto
}

/***** Layout *****/
/*
Header
 *****************/
#mainheader {
  padding-top: clamp(30px, 5dvh, 65px);
  color: #383732;
  grid-area: header;
  position: relative;
}
#mainheader nav {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainheader nav a:link {
  text-decoration: none;
}
#mainheader nav a:hover {
  text-decoration:underline;
}

#mainheader #languages {
  position: absolute;
  top: 20px;
  right: 0px;
}

/* Banner */
#sitename {
  font-size: 60px;
  font-size: clamp(35px, 10dvw, 60px);
  display: flex;
  font-weight: normal;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#sitename img {
  display: inline-block;
  height: 80px;
  margin-right: 10px;
}
#sitename:link, #sitename:visited {
  color: inherit;
}
/* Main Nav */
#mainheader menu {
  padding: 0;
  font-style: italic;
  text-align: center;
}
#mainheader li {
  display: inline;
  margin: 0;
}
#mainheader menu a:link, #mainheader menu a:visited {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: inherit;
}
#mainheader menu.menu0 a {
  font-size: 20px;
}
#mainheader menu li.open > a {
  font-weight: bold;
}
#mainheader div.menu1 {
  max-width: 80%;
}

main {
  background: #fffefe;
  background: #FBF0F0;
  grid-area: content;
  margin-bottom: 2em;
  border-radius: 10px;
  padding: 20px 30px 15px 30px;
}

footer {
  background: #FBF0F0;
  background: #FAE0E0;
  padding: 15px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-area: footer;
  border-top: 1px dotted #8A887B;
}
footer p {
  flex: 100px 1 auto;
  margin: 0 0 15px 0;
}
footer .cc-licence {
}
footer .cc-licence #licence-img {
  display: inline-block;
  translate: 0 2px;
  max-width: fit-content;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', 'Yanone Kaffeesatz', arial, serif;
  text-shadow:0px 0px 1px #BFBFBF;
  font-weight: normal;
  font-style: normal;
  line-height: 50px;
  margin-bottom: .8em;
}

h1 {
  text-align: center;
  font-style: italic;
  margin-top: 0;
}
h1 a:link {
  text-decoration: none;
}

hr { border: 1px dotted #8A887B; }

/* Anchors */
a { outline: 0; }
a img { border: 0px; text-decoration: none; }
a:link, a:visited {
  color: inherit;
  padding: 0 1px;
  text-decoration: underline;
}
a:hover, a:active {
  text-decoration: underline;
}

/* Paragraphs */
p { margin-bottom: 1.143em; }

strong, b { font-weight: bold; }
em, i { font-style: italic; }

/* Lists */
ul {
  list-style: outside disc;
  margin: 1em 0 1.5em 1.5em;
}

ol {
  list-style: outside decimal;
  margin: 1em 0 1.5em 1.5em;
}

dl { margin: 0 0 1.5em 0; }
dt { font-weight: bold; }
dd { margin-left: 1.5em; }
