<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="${lang}" xml:lang="${lang}"${if(dir)} dir="${dir}"${endif}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
${for(author-meta)}
    <meta name="author" content="${author-meta}" />
${endfor}
${if(date-meta)}
    <meta name="dcterms.date" content="${date-meta}" />
${endif}
${if(keywords)}
    <meta name="keywords" content="${for(keywords)}${keywords}${sep}, ${endfor}" />
${endif}
${if(description-meta)}
    <meta name="description" content="${description-meta}" />
    <meta property="og:description" content="${description-meta}" />
${endif}

    <meta preperty="og:site_name" content="${strings.site-name}" />
    <meta property="og:title" content="${if(page-title)}${page-title}${else}${pagetitle}${endif}" />
    <meta property="og:url" content="${absolute-url}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="${lang}" />

<!--
    <meta property="og:image" content="image.png" />
-->

    <meta name="robots" content="${if(indexing)}noimageindex${else}noindex, nofollow${endif}" />
    <title>${if(title-prefix)}${title-prefix} – ${endif}${if(page-title)}${page-title}${else}${pagetitle}${endif}${if(title-suffix)} – ${title-suffix}${endif}</title>
    <link rel="stylesheet" href="${site-root}main.css" type="text/css" />
  </head>

  <body>
    <header id="mainheader" data-nosnippet>
      <nav class="menu">
        <a id="sitename" href="${site-root}">${strings.site-name}</a>
${menu:menu()}
      </nav>
    </header>

    <main>
      <header>
        <h1 class="title"><a href="./">${title}</a></h1>
${if(subtitle)}
        <p class="subtitle">${subtitle}</p>
${endif}
${if(abstract)}
        <div class="abstract">
          <div class="abstract-title">${abstract-title}</div>
${abstract}
        </div>
${endif}

${if(toc)}
        <nav role="doc-toc" data-nosnippet>
          <h2>${strings.table-of-contents}</h2>
${table-of-contents}
        </nav>
${endif}
      </header>

      <section>
${body}
      </section>
    </main>

    <footer>
      <p class="date">
        ${strings.last-modified}
        <time datetime="${date-meta}">${date}</time>
      </p>

      <p>© ${strings.copyright-period}
        <a href="${site-root}">${strings.site-author}</a>
      </p>

      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img alt="${strings.cc.alt}" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
        </a>
        <br />${if(strings.cc.license-pre)}${strings.cc.license-pre}${endif}
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">${strings.cc.license-name}</a>${if(strings.cc.license-post)}
        ${strings.cc.license-post}${else}.${endif}
      </p>
    </footer>
  </body>
</html>
